@import '../../../scss/breakpoint';

.wrapper {
    position: relative;
    width: fit-content;
    max-width: 508px;
    max-height: 508px;
    border-radius: 8px;
    margin-top: 16px;

    .video {
        max-width: 508px;
        max-height: 508px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;

        @include mobile {
            max-width: 240px;
            max-height: 320px;
            object-fit: contain;
        }
    }

    .report {
        display: flex;
        align-items: center;
        position: absolute;
        right: 12px;
        top: 20px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
        padding: 8px;
        cursor: pointer;

        &-icon {
            margin-right: 6px;
        }
    }

    .play,
    .pause {
        position: absolute;
        left: 16px;
        bottom: 32px;
        cursor: pointer;
        padding: 8px;
    }

    .volume {
        position: absolute;
        right: 16px;
        bottom: 32px;
        cursor: pointer;
        padding: 8px;

        &:hover {
            .volume-bar-block {
                display: flex;
            }
        }
    }
}

// Volume bar
.volume-bar-block {
    display: none;
    position: absolute;
    top: -44px;
    left: -16px;
    align-items: center;
    transform: rotate(270deg);
    padding: 12px 8px;
    border-radius: 999px;
    background-color: rgba(22, 24, 35, 0.34);
}

.volume-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 1px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
