@import '../../../scss/variables';
@import '../../../scss/breakpoint';

.wrapper {
    display: flex;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .nickname {
        color: $text-color;
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 8px;
    }

    .fullname {
        font-size: 1.3rem;
        color: rgba(22, 24, 35, 0.5);
        margin-top: 4px;
    }
}

.wrapper.small {
    .avatar {
        width: 32px;
        height: 32px;
    }

    .fullname {
        font-size: 1.2rem;
    }
}

.wrapper.sidebar {
    @include tablet {
        .content {
            display: none;
        }
    }
}
