@import '../../scss/variables';
@import '../../scss/breakpoint';

.wrapper {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding: 12px 0;
}

.header {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 4px 12px;
    color: rgb(22 24 35 / 50%);
    margin-bottom: 4px;

    &.small {
        font-size: 80%;
    }
}

.see-all,
.see-less {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 16px;
    color: $primary-color;
    cursor: pointer;
    margin: 4px 0;
}

.wrapper.sidebar {
    @include tablet {
        .header,
        .see-all,
        .see-less {
            display: none;
        }
    }
}
