@import '../../scss/variables';

.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 999;

    &.full .inner {
        max-width: 100%;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    height: $header-height;
    padding: 0 20px;

    .logo {
        display: flex;
    }
}

.actions {
    display: flex;
    align-items: center;

    .more-btn {
        display: flex;
        cursor: pointer;
        padding: 4px 8px;
        margin-left: 8px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        margin-left: 8px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }
}

.icon-with-noti {
    position: relative;
    cursor: pointer;

    .icon {
        margin: 0 12px;
    }

    .notification {
        position: absolute;
        top: 0;
        right: 10px;
        width: 14px;
        height: 14px;
        text-align: center;
        font-size: 1rem;
        border-radius: 50%;
        color: #fff;
        background-color: red;
        z-index: 1;
    }
}
