@import '../../scss/variables';
@import '../../scss/breakpoint';

.post-item {
    max-height: 692px;
    min-height: 400px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);

    .header {
        display: flex;

        .avatar {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 12px;

            @include mobile {
                width: 44px;
                height: 44px;
            }
        }

        .description {
            font-size: 1.5rem;
            max-width: 510px;
            margin: 8px 0;
        }

        .music {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .follow-btn {
            height: fit-content;
            margin-top: 8px;
            margin-left: auto;
        }
    }

    .body {
        margin-left: 66px;
        display: flex;

        .react-field {
            position: relative;
            flex: 1;

            .like,
            .comment,
            .share {
                position: absolute;
                left: 20px;
                cursor: pointer;

                @include mobile {
                    left: 12px;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: rgba(22, 24, 35, 0.06);

                @include mobile {
                    width: 32px;
                    height: 32px;
                }
            }

            .count {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 4px;
            }

            .like {
                bottom: 180px;

                &.active {
                    color: $primary-color;

                    .count {
                        color: $text-color;
                    }
                }

                @include mobile {
                    bottom: 116px;
                }
            }

            .comment {
                bottom: 100px;

                @include mobile {
                    bottom: 60px;
                }
            }

            .share {
                bottom: 20px;

                @include mobile {
                    bottom: 4px;
                }
            }
        }
    }
}
