@import '../../scss/variables';

.wrapper {
    width: 340px;
    padding-top: 20px;
    max-height: calc(100vh - $header-height);
    overflow-y: auto;

    .separate {
        height: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        margin-bottom: 12px;
    }
}
